@model Category
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
        </div>
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name">Category Name</label>
            <input asp-for="Name" disable class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">Display Order</label>
            <input asp-for="DisplayOrder" disable class="form-control" />
        </div>
        <div class="row m-3">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>
